
<form>
    <h3>Добавить пользователя:</h3>
    <div><label for="nameUser">Имя</label><input type="text" id="nameUser" class="input"></div>
    <div><label for="birthday">День рождения</label><input type="date" id="birthday" class="input"></div>
    <button type="button" class="user_add" id="addNewUser">
        <img src="~/Content/image/add-user.png" alt="add" id="add" />
    </button>
   <div id="text"></div>
</form>

