@using PL.Web

@{
    //Layout = "~/index.cshtml";

    var WebUserPL = new WebUsersPL();
    var users = WebUserPL.DisplayAllUsers();
}

@foreach (var item in users)
{
    <div class="block_user">
        <div class="block_avatar"><img src="~/Content/image/no_avatar.jpg" alt="avatar" /></div>
        <div>@item.Name</div>
        <div>@(item.DateOfBirth.Day).@(item.DateOfBirth.Month).@(item.DateOfBirth.Year)</div>
        <div>@item.Age</div>
        <div>
            <button type="button" class="user_award">
                <img src="~/Content/image/quality.png" alt="award" id="award_@item.ID" />
            </button>
        </div>
        <div>
            <button type="button" class="user_del" id="b@item.ID">
                <img src="~/Content/image/user.png" alt="remove" id="@item.ID"/>
            </button>
        </div>
    </div>
}
