
<form>
    <h3>Добавить награду:</h3>
    <div><label for="titleAward">Название</label><input type="text" id="titleAward" class="input"></div>
    <button type="button" class="user_add" id="addNewAward">
        <img src="~/Content/image/add-award.png" alt="add" id="add" title="Сохранить новую награду" />
    </button>
    <div id="text"></div>
</form>