@{
    Layout = "~/_BasicLayout.cshtml";
}
<div class="user_form">
@RenderPage("~/Pages/addUser.cshtml")
    </div>
<h2>Пользователи</h2>
<div class="blocks">
    <div class="block_user block_header">
        <div class="user_header">Аватар</div>
        <div class="user_header">Имя</div>
        <div class="user_header">Дата рождения</div>
        <div class="user_header">Возраст</div>
        <div class="user_header">Награды</div>
        <div class="user_header">Удалить</div>
    </div>
    @RenderPage("~/Pages/allUsersList.cshtml")

</div>

