@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Let's play!</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/styleModal.css">
</head>
<body>
    <header class="header">
        <h1><a href="~/index.cshtml">Let's play!</a></h1>
        <div class="button_entry">
            @{if (User.Identity.IsAuthenticated)
                {
                        <span>Привет, @(User.Identity.Name)</span> <button id="button_exit" onclick="exit()">Выход</button>
                }
                else
                {
                    <button id="button_login" onclick="logIn()">Вход/Регистрация</button>
                }
            }
        </div>
    </header>
    <nav>
        <div class="nav">
            <ul>
                <li><a href="~/Pages/witcher.cshtml">Witcher</a></li>

                <li><a href="~/Pages/assassin.cshtml">Assassin’s Creed</a></li>

                <li><a href="~/Pages/redemption.cshtml">Red Dead Redemption</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div id="forSections">
            @RenderBody()
        </div>
        <div id="forMessage"></div>
    </main>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/messages.js"></script>
</body>
</html>
