<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <!--<link rel="stylesheet" href="flex.css">-->
    <!--<link rel="stylesheet" href="position.css">-->
    <link rel="stylesheet" href="float.css"><!--для float меняю парядок блоков-->
    <!--<link rel="stylesheet" href="table.css">-->
    <title>Document</title>
</head>
<body>
    <header>
        header
    </header>
    <main>
        <nav>
            nav
        </nav>
        <aside>
            aside
        </aside>
        <section>
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
            Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
            Применяется к: flex контейнерам.Значение по умолчанию: stretch.flex-start Флексы выравниваются в начале поперечной оси контейнера.
        </section>
        <!--<aside>
            aside для всех, кроме float-->
        </aside>
    </main>
    <footer>
        footer
    </footer>
</body>
</html>