
<h2><a name="award">Награды</a></h2>
<div class="blocks">
    <div class="block_user block_header">
        <div class="user_header">Аватар</div>
        <div class="user_header">Название</div>
        <div class="user_header">Пользователи</div>
        @if (User.IsInRole("Admin"))
        {
            <div class="user_header">Редактировать</div>
            <div class="user_header">Удалить</div>
        }
        </div>
    @RenderPage("~/Pages/allAwardsList.cshtml")
   
</div>
