
<section>
    <div id="newMessageModal" class="modal-window">
        <div class="modal-item">
            @*<input id="header0" type="text" placeholder="Введите заголовок">*@
            <textarea id="text0" placeholder="Введите комментарий">@(User.Identity.Name)</textarea>
            <button id="save">Добавить</button>
            <button id="exit" onclick="location.href='#close'">Закрыть</button>
        </div>
    </div>
</section>

