
    <button class="openModalTopic" onclick="location.href='#newTopicModal'">
        <img src="~/Content/image/add-topic.png" alt="Добавить тему" />
        Добавить тему
    </button>

<section>
    <div id="newTopicModal" class="modal-window">
        <div class="modal-item">
            <input id="headerTopic" type="text" placeholder="Введите заголовок темы">
            <textarea id="headerTopic" placeholder="Введите комментарий"></textarea>
            <button id="save">Добавить</button>
            <button id="exit" onclick="location.href='#close'">Закрыть</button>
        </div>
    </div>
</section>
