
<section>
    <div id="newMessageModal" class="modal-window">
        <div class="modal-item">
            <input id="nameUser" type="text" value="@(User.Identity.Name)" disabled  />
            <textarea id="textMessage" placeholder="Введите комментарий"></textarea>
            <button id="saveMessage" class="buttonForSaveMessage">Добавить</button>
            <button id="exit" onclick="location.href='#close'">Закрыть</button>
            
        </div>
    </div>
</section>

