@using PL.Web

@{
    string nameForum = "Red Dead Redemption";
    var WebForumPL = new WebForumsPL();
    var forums = WebForumPL.DisplayAllForums();

    var WebTopicPL = new WebTopicsPL();
    var WebMessagePL = new WebMessagesPL();
}
@foreach (var item in forums)
{
    if (item.Name == nameForum)
    {
        var topics = WebTopicPL.GetAllByIdForum(item.IDForum);
        <section>

            <div class="category">
                @foreach (var rubric in topics)
                {
                    if (!rubric.Importand)
                    {
                        var allMessages = WebMessagePL.GetMassagesByIdTopic(rubric.IDTopic);
                        var numberMessages = allMessages.Count();
                        var lastMessage = "";
                        if (numberMessages > 0)
                        {
                            var date = allMessages.Last().Date;
                            lastMessage = "Последнее: " + date;
                        }

                        <article>
                            <div class="nameTopic" id="@(rubric.IDTopic)">
                                
                                    @(rubric.Name)
                                    <p class="numberMessages">Сообщений:@(numberMessages)</p>
                                    <p class="lastMessage">@(lastMessage)</p>
                               
                            </div>
                        </article>
                    }
                }
            </div>
        </section>
    }
}