<section>
    <header>
        <h2>Информация</h2>
    </header>
    <div class="category">
        <article>
            <a href="#user">Правила форума</a>
        </article>
        <article>
            <a href="#user">Новинки игр</a>
        </article>
    </div>
</section>
