<section>
    <header>
        <h2><a href="~/Pages/witcher.cshtml">Witcher</a></h2>
    </header>
    <div class="category">
        <article>
            <a href="#user">Описание игры</a>
        </article>
        <article>
            <a href="#user">Отзывы</a>
        </article>
        <article>
            <a href="#user">Квесты</a>
        </article>
    </div>
</section>