@{
    Layout = "~/_BasicLayout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <form id="redemption" class="form_addTopic">
        @RenderPage("~/Pages/_addTopic.cshtml")
    </form>
}
else
{
<p>Вы должны войти или зарегистрироваться, чтобы создавать темы.</p>
}
@RenderPage("~/Pages/_topics_redemption_important.cshtml")
@RenderPage("~/Pages/_topics_redemption.cshtml")
