@{
    Layout = "~/_BasicLayout.cshtml";
}
@{   if (User.Identity.IsAuthenticated)
        {
        <form id="witcher" class="form_addTopic">
            @RenderPage("~/Pages/_newTopic.cshtml")
        </form>
        }
        else{
         <p>Вы должны войти или зарегистрироваться, чтобы создавать темы.</p>
         }
}
@RenderPage("~/Pages/_topics_witcher_important.cshtml")
@RenderPage("~/Pages/_topics_witcher.cshtml")
